.login_wrap {
    width: 100%;
    height: 180px;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    margin-bottom: 10px;

    span {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        color: #999;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .login_box {
        width: calc(100% - 80px);
        height: 60px;
        background: #17245A;
        border-radius: 14px;
        margin: 0 auto;
        cursor: pointer;

        h4 {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 3.2;
            font-size: 18px;
        }
    }

    .sub_wrap1 {
        width: calc(100% - 350px);
        margin: 0 auto;
        display: flex;
        margin-top: 20px;
        margin-bottom: 30px;
        justify-content: space-between;
        color: #999;
        font-weight: 700;
        position: relative;

        ::after {
            position: absolute;
            content: "";
            width: 2px;
            height: 11px;
            background: #888;
            left: 57px;
            bottom: 4px;
            border-radius: 100px;
        }
    }

    .sub_wrap {
        width: calc(100% - 380px);
        margin: 0 auto;
        display: flex;
        margin-top: 20px;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
        color: #999;
        font-weight: 700;

        .sing, .ID, .PW {
            margin: 0 10px; // 항목 간 간격 조정
            position: relative;
            display: inline-block;
            width: auto; // 텍스트가 세로로 나열되지 않도록 설정
            white-space: nowrap; // 텍스트 줄바꿈 방지
        }

        .sing::after, .ID::after {
            content: "";
            width: 1px;
            height: 12px;
            background: #888;
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap_login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #fff;

    .header {
        width: 100%;
        height: 7.5vh;
        background: #17245A;
        position: relative;

        .logo {
            h4 {
                position: absolute;
                top: 50%;
                left: 13.5vh;
                transform: translate(0, -50%);
                font-size: 22px;
                color: #ffffff;
            }
        }
    }

    .login {
        width: 28%;
        min-width: 300px;
        background: #ffffff;
        min-height: 92.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                font-size: 2em;
                font-weight: normal;
                color: #464646;
                text-align: center;
                margin-bottom: 20px;
            }

            p {
                font-size: 1em;
                width: 100%;
                margin: 10px 0 5px;
                color: #464646;
            }

            input {
                width: 100%;
                padding: 17px 12px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 7px;
                background-color: #F9FAFB;

                &::placeholder {
                    color: #ADADAD;
                }

                &::-webkit-input-placeholder {
                    color: #ADADAD;
                }
            }

            .password-container {
                position: relative;
                width: 100%;

                input {
                    width: 100%;
                    padding-right: 40px;
                }

                .password-toggle-icon {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;

                    img {
                        width: 1em;
                        height: 1em;
                        margin-right: 3%;
                        margin-bottom: 50%
                    }
                }
            }

            .options {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                label {
                    margin: 2% 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1em;
                    color: #464646;
                    white-space: nowrap;

                    input {
                        margin: 0 5px 0 0;
                    }
                }

                a {
                    color: #464646;
                    text-decoration: none;
                    font-size: 1em;
                }
            }

            button[type="submit"] {
                width: 100%;
                padding: 17px;
                background: #1653ca;
                color: #ffffff;
                border: none;
                border-radius: 7px;
                cursor: pointer;
                font-size: 1.2em;
            }

            .additional-options {
                width: 100%;
                text-align: center;
                margin-top: 20px;

                p {
                    font-size: 1.1em;
                    margin: 10px 0;
                    color: #999999;
                }

                a {
                    font-size: 1em;
                    margin-left: 5px;
                    color: #1653ca;
                    text-decoration: none;
                }

                .or-divider {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin: 20px 0;

                    hr {
                        width: 200vh;
                        border: none;
                        border-top: 1px solid #dbdbdb;
                    }

                    p {
                        margin: 0;
                        padding: 0 10px;
                        font-size: 1em;
                        color: #464646;
                    }
                }

                .google-login {
                    width: 100%;
                    padding: 17px;
                    background: #34a856;
                    color: #fff;
                    border: none;
                    border-radius: 7px;
                    cursor: pointer;
                    display: flex;
                    font-size: 1.2em;
                    justify-content: center;

                    .google_icon {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-brand-google' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M20.945 11a9 9 0 1 1 -3.284 -5.997l-2.655 2.392a5.5 5.5 0 1 0 2.119 6.605h-4.125v-3h7.945z' /%3E%3C/svg%3E");
                        width: 30px;
                        height: 30px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin-right: 10px;
                    }

                    h5 {
                        font-size: 18px;
                        font-weight: 500;
                        margin-right: 20px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
