* {
    margin: 0;
    padding: 0;
}
.main_wrap {
    width: 100%;
    height: auto;
    // background: #cfcfcf;
    // margin-bottom: 100px;
    background: #fff;
    .main_top_container {
        width: calc(100% - 600px);
        margin: 0 auto;
        // background: #ffecec;
        height: 200px;
        .logo {
            width: 60px;
            height: 60px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 50px;
            left: 110px;
        }
        .main_search {
            padding-top: 100px;
            width: 100%;
            input {
                width: 100%;
                height: 60px;
                border-radius: 100px;
                border: 2px solid #000;
                background: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                outline:none;
                font-size: 20px;
                // margin-left: 10px;
                padding-left: 20px;

            }
            input::placeholder {
                font-size: 15px;
                color: #888;

            }
        }
        .category_wrap {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            // justify-content: space-between;
            .icon {
                margin: 0 30px;
                text-decoration: none;
                transition: transform 0.3s ease; 
                .iconImg {
                    width: 70px;
                    height: 70px;
                    background-repeat: no-repeat;
                    cursor: pointer;
                }
                h4 {
                    cursor: pointer;
                    font-size: 18px;
                    color: #666;
                    text-align: center;
                }
            }
            .icon:hover {
                transform: translateY(-5px); /* 위로 5px 올라가도록 설정 */
            }
        }
    }
    .main_btm_container {
        width: calc(100% - 80px);
        margin: 0 auto;
        // background: #cdcdcd;
        height: 1000px;
        margin-top: 100px;
        display: flex;
        .btm_left {
            width: 64.5%;
            height: auto;
            // background: #c4c4c4;
            margin-right: 1%;
        }
        .btm_right {
            width: 35.5%;
            height: auto;
            .with_wrap {
                width: 100%;
                height: auto;
                border: 1px solid #e4e4e4;
                border-radius: 20px;
                margin-bottom: 10px;
                display: flex;
                .withlogo {
                    width: 120px;
                    height: 120px;
                    background-repeat: no-repeat;
                    margin-top: 30px;
                    margin-left: 10px;
                }
                .wite_text {
                    margin-left: -10px;
                    text-align: center;
                    justify-content: center;
                    cursor: pointer;
                    a {
                        color: #000;
                        h4 {
                            margin-top: 20px;
                            margin-bottom: 20px;
                            color: #343434;
                        }
                        h1 {
                            font-size: 50px;
                        }
                    }
                    
                }
            }
            .Board_Preview_wrap {
                width: 100%;
                height: auto;
                border: 1px solid #e4e4e4;
                border-radius: 20px;
                margin-bottom: 10px;
                padding: 10px;
                .BP_title {
                    width: calc(100% - 10px);
                    // background: #e4e4e4;
                    margin: 0 auto;
                    justify-content: space-between;
                    display: flex;
                    position: relative;
                    padding-top: 3px;
                    ::after {
                        content: "";
                        width: 478px;
                        height: 1px;
                        background: #e4e4e4;
                        position: absolute;
                        left: -15px;
                        top: 30px;
                    }
                    p {
                        font-weight: 700;
                    }
                    .BP_more {
                        cursor: pointer;
                        font-weight: 700;
                    }
                }
                .table {
                    padding-top: 20px;
                    width: calc(100% - 20px);
                    // background: #e4e4e4;
                    margin: 0 auto;
                    // justify-content: space-between;
                    // display: flex;
                    position: relative;
                    .Title {
                        font-size: 15px;
                        font-weight: 800;
                        // margin-right: 10px;
                        padding-left: 10px;
                        color: #000;
                        &::after {
                            content: "";
                            width: 478px;
                            height: 1px;
                            background: #e4e4e4;
                            position: absolute;
                            left: -20px;
                            top: 45px;
                        }
                        &::before {
                            content: "";
                            width: 5px;
                            height: 5px;
                            border-radius: 100px;
                            background: #5a5a5a;
                            position: absolute;
                            left: -5px;
                            top: 27px;
                        }
                        &:last-child::after {
                            content: none; /* 마지막 자식의 경우 가상 요소 제거 */
                        }
                    }
                    // .Title::after {
                    //     content: "";
                    //     width: 478px;
                    //     height: 1px;
                    //     background: #e4e4e4;
                    //     position: absolute;
                    //     left: -15px;
                    //     top: 45px;
                    // }
                    // .Title:last-child::after {
                    //     content: none; /* 마지막 자식의 경우 가상 요소 제거 */
                    // }
                    .Data {
                        font-size: 13px;
                        font-weight: 700;
                        color: #888;
                        // text-align: right;
                        position: absolute;
                        right: 0;
                    }
                }
                
            }
            .weather_wrap {
                width: 100%;
                height: auto;
                border: 1px solid #e4e4e4;
                border-radius: 20px;
            }
        }
    }
}